/* Reset */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* General */

html {
	height: 100%;
}

body {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100%;
}

.container {
	margin: 0 auto;
	width: 70%;
	max-width: 1140px;
	min-width: min-content;
}

.hero-heading {
	font: 900 48px Roboto, sans-serif;
	color: #F9FAF8;
}

.hero-body {
	font: 18px Roboto, sans-serif;
	color: #E5E7EB;
}

.header-logo {
	font: bold 24px Roboto, sans-serif;
	color: #F9FAF8;
}

.quote-text {
	font: italic 300 36px Roboto, sans-serif;
	color: #1F2937;
}

.dark-background {
	background-color: #1F2937;
}

.button-background {
	background-color: #3882F6;
}

.quote-background {
	background-color: #E5E7EB;
}

/* Header */

.navbar-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	gap: 8px 32px;
	padding: 16px 0;
}

.right-items {
	display: flex;
	flex-flow: row nowrap;
	gap: 16px;
}

.header-logo,
.right-items > li {
	min-width: max-content;
}

/* Main */

main {
	/* flex: 1 1 0; */
	flex: 1;
}

.text-and-image {
	display: flex;
	flex-flow: row wrap-reverse;
	justify-content: center;
	gap: 24px 20px;
	/* Subtract the header's height from padding-top */
	padding-top: 80px;
	padding-bottom: 100px;
}

.text-and-image > .text-wrapper,
.text-and-image > .image-wrapper {
	/* flex: 1 1 0; */
	flex: 1;
	min-width: 360px;
}

.text-wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	gap: 2px;
}

.link-button {
	border-radius: 8px;
	padding: 6px 24px;
	min-width: max-content;
	max-width: max-content;
	height: min-content;
	font-weight: bold;
}

.text-wrapper > .link-button {
	margin-top: 14px;
}

.image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-wrapper {
	padding: 100px 0;
}

.info-heading {
	margin-bottom: 56px;
	text-align: center;
	font: 900 36px Roboto, sans-serif;
	color: #1F2937;
}

.info-body {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 36px 45px;
	min-width: 380px;
}

.panel {
	width: 165px;
}

.panel-image {
	box-sizing: content-box;
	/* It's important that the margins and border be equal in magnitude*/
	margin-left: -3.5px;
	margin-top: -3.5px;
	border: 3.5px solid #3882F6;
	border-radius: 16px;
	width: 165px;
	height: 165px;
	overflow: hidden;
}

.panel-text {
	margin-top: 8px;
	text-align: center;
	color: black;
}

.quote-wrapper {
	display: flex;
	flex-flow: column nowrap;
	gap: 8px;
	margin: 0 auto;
	padding: 100px 0;
	width: 75%;
	min-width: 380px;
}

.quote-text {
	text-align: justify;
}

.quote-source {
	display: inline-block;
	margin-left: auto;
	margin-right: 5%;
	min-width: max-content;
	font-weight: bold;
	color: black;
}

.cta-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	gap: 20px 60px;
	margin: 100px 0;
	border-radius: 8px;
	padding: 48px 48px;
}

.cta-wrapper > .text-wrapper {
	/* flex: 1 0 0; */
	flex: 1;
	min-width: 200px;
	max-width: max-content;
}

.cta-heading {
	width: max-content;
	font-weight: bold;
}

.cta-wrapper > .link-button {
	/* flex: 0 0 auto; */
	flex: none;
	border: 3px solid #F9FAF8;
}

/* Footer */

footer > p {
	text-align: center;
	padding: 40px 0;
}

/* Borders for debugging */
/* 
body {
	border: 4px solid cyan;
}

header,
main,
footer {
	border: 4px solid red;
}

section {
	border: 4px solid orange;
}

.text-and-image,
.cta-wrapper {
	border: 4px solid lime;
}

.text-wrapper {
	border: 4px solid violet;
} 
*/