/* Reset */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Structure */

.container {
	margin: 0 auto;
	width: 80%;
	max-width: 1140px;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

/* Borders for debugging */

body {
	border: 4px solid cyan;
}

header,
main,
footer {
	border: 4px solid red;
}

section {
	border: 4px solid orange;
}

.container {
	border: 4px solid lime;
}