/* Reset */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* General */

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	margin: 0 auto;
	width: 80%;
	max-width: 1140px;
	min-width: min-content;
}

/* Header */

/* Main */

main {
	/* flex: 1 1 0; */
	flex: 1;
}

.text-and-image {
	display: flex;
	flex-flow: row wrap-reverse;
}

.text-wrapper,
.image-wrapper {
	/* flex: 1 1 0; */
	flex: 1;
	min-width: 240px;
}

.text-wrapper {
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	/* gap: 4px; */
}

.image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Footer */

/* Borders for debugging */

body {
	border: 4px solid cyan;
}

header,
main,
footer {
	border: 4px solid red;
}

section {
	border: 4px solid orange;
}

.container {
	border: 4px solid lime;
}

.text-wrapper,
.image-wrapper {
	border: 4px solid violet;
}