/* Reset */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

/* General */

html {
	height: 100%;
}

body {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100%;
}

.container {
	margin: 0 auto;
	width: 80%;
	max-width: 1140px;
	min-width: min-content;
}

.hero-heading {
	font: 900 48px Roboto, sans-serif;
	color: #F9FAF8;
}

.hero-body {
	font: 18px Roboto, sans-serif;
	color: #E5E7EB;
}

.header-logo {
	font: 24px Roboto, sans-serif;
	color: #F9FAF8;
}

.quote-text {
	font: italic lighter 36px Roboto, sans-serif;
	color: #1F2937;
}

.dark-background {
	background-color: #1F2937;
}

.button-background {
	background-color: #3882F6;
}

.quote-background {
	background-color: #E5E7EB;
}

/* Header */

/* Main */

main {
	/* flex: 1 1 0; */
	flex: 1;
}

.text-and-image {
	display: flex;
	flex-flow: row wrap-reverse;
	justify-content: center;
	column-gap: 16px;
	row-gap: 24px;
	/* Subtract the header's height from padding-top */
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-and-image > .text-wrapper,
.text-and-image > .image-wrapper {
	/* flex: 1 1 0; */
	flex: 1;
	min-width: 320px;
}

.text-wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	/* Remove gap from here if reusing text-wrapper */
	gap: 4px;
}

.link-button {
	border-radius: 8px;
	padding: 6px 24px;
	width: max-content;
	font-weight: bold;
}

.text-wrapper > .link-button {
	margin-top: 12px;
}

.image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-wrapper {
	padding: 100px 0;
}

.info-heading {
	margin-bottom: 56px;
	text-align: center;
	font: 900 36px Roboto, sans-serif;
	color: #1F2937;
}

.info-body {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 36px 48px;
}

.panel {
	width: 156px;
}

.panel-image {
	box-sizing: content-box;
	/* It's important that the margins and border be equal in magnitude*/
	margin-left: -3.5px;
	margin-top: -3.5px;
	border: 3.5px solid #3882F6;
	border-radius: 16px;
	width: 156px;
	height: 156px;
	overflow: hidden;
}

.panel-text {
	margin-top: 8px;
	text-align: center;
	color: black;
}

/* Footer */

/* Borders for debugging */

body {
	border: 4px solid cyan;
}

header,
main,
footer {
	border: 4px solid red;
}

section {
	border: 4px solid orange;
}
/* 
.panel-image {
	border: 4px solid lime;
}

.panel {
	border: 4px solid violet;
} */